--find-links=https://girder.github.io/large_image_wheels GDAL
setuptools
geemap
owslib
streamlit
earthengine-api
geopandas
folium
leafmap
pyogrio
google-api-python-client
google-auth
google-auth-oauthlib
google-cloud-storage  # Si estás usando Google Cloud Storage